<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <button onclick="" class="btn btn-outline-success my-2 my-sm-0" type="submit">Accueil</button>
    </ul>
    <button onclick="" class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>
</nav>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="username" class="form-control" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <button type="connecter" class="btn btn-primary">Connexion</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-5"></div>
        <div class="col">
            <button type="inscrire" class="btn btn-danger">Inscription</button>
        </div>
    </div>
</div>

</body>
</html>