<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <title>Location_Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <a href="index"><button class="btn btn-outline-success my-2 my-sm-0">Accueil</button></a>
    </ul>
    <a sec:authorize="!isAuthenticated()" href="connexion" ><button class="btn btn-outline-success my-2 my-sm-0">Connexion</button></a>
    <a sec:authorize="isAuthenticated()" href="my_account" ><button class="btn btn-outline-success my-2 my-sm-0">Mon Compte</button></a>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-danger" value="Sign Out"/>
    </form>
</nav>
<div sec:authorize="isAuthenticated()">Vous etes connecte en tant que [[${#httpServletRequest.remoteUser}]]</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<br>
<table class="table" th:if="${role.equals('loueur')}">
    <thead>A confirmer
    <th scope="col">Type</th>
    <th scope="col">Adresse</th>
    <th scope="col">Loyer</th>
    <th>Action</th>
    </thead>
    <tbody th:each="produit : ${produits}">
        <tr th:if="${produit.isEnAttente()}">
            <td th:text="${produit.getType()}">...</td>
            <td th:text="${produit.getAdresse()}">...</td>
            <td colspan="2" th:text="${produit.getPrix()}">...</td>
            <td sec:authorize="isAuthenticated()" th:if="${role.equals('loueur')}">
                <form th:action="@{/confirmer}" method="post">
                <button type="submit" class="btn btn-primary" th:name="action" th:value="${produit.getId()}">Confirmer</button>
                </form>
                <form th:action="@{/refuser}" method="post">
                    <button type="submit" class="btn btn-primary" th:name="action" th:value="${produit.getId()}">Refuser</button>
                </form>
            </td>
        </tr>
    </tbody>
</table>
<br>
<table class="table">
    <thead>
        <th scope="col">Type</th>
        <th scope="col">Adresse</th>
        <th scope="col">Loyer</th>
        <th sec:authorize="isAuthenticated()">Action</th>
    </thead>
    <tbody th:each="produit : ${produits}">
        <form th:action="@{/abonner}" method="post">
            <tr th:if="${produit.getIDlocataire()==-1}">
                <td th:text="${produit.getType()}">...</td>
                <td th:text="${produit.getAdresse()}">...</td>
                <td th:text="${produit.getPrix()}">...</td>
                <td sec:authorize="isAuthenticated()" th:if="${role.equals('locataire')}">
                  <button type="submit" class="btn btn-primary" th:name="action" th:value="${produit.getId()}">Envoyer demande de location</button>
                </td>
            </tr>
        </form>
    </tbody>
</table>

</body>
</html>