<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <a href="/index" ><button class="btn btn-outline-success my-2 my-sm-0" th:text="">Accueil </button></a>
    </ul>
    <a href="/connexion"><button class="btn btn-outline-success my-2 my-sm-0">Connexion</button></a>
</nav>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <label for="inputUsername">Username</label>
                    <input type="username" class="form-control" id="inputUsername" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
                <a href="/inscrire"><button type="inscrire" class="btn btn-primary">S'inscrire</button></a>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>

</body>
</html>